@charset "utf-8";

:root {
    --bg-color: #fdfcf5;
    --color: #1c1a10;
    --highlight-color: #327fc9;
    --light-color: #efefef;
    --button-color: #555e7e;
    --placeholder-color: #cfcfcf;
}

body {
    font-family: 'Orbitron', 'Open Sans', Arial, sans-serif;
    font-weight: 500;
    background-color: var(--bg-color);
    color: var(--color);
}

/* 
    Utility classes 
*/
.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 
    Main
*/
main {
    min-height: 100svh;
    text-align: center;
}

main.on {
    div {
        color: var(--highlight-color)
    }
}

h1 {
    font-size: 120px;
    line-height: 120px;
    font-weight: 800;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

div {
    font-size: 24px;
    color: var(--light-color);
}

div>span {
    margin-left: 10px;
}

input {
    margin: 0 5px 0 0;
    padding: 15px 25px;
    background-color: var(--light-color);
    border-radius: 5px;
    text-align: center;

    &[type=button] {
        font-weight: 700;
        background-color: var(--button-color);
        color: var(--light-color);
    }

    &[type=button]:hover {
        background-color: var(--highlight-color);
    }

    &[type=text] {
        width: 100px;
    }
}

.hidden {
    visibility: hidden;
}

::placeholder {
    color: var(--placeholder-color)
}