@charset "utf-8";
:root {
    --bg-color: #fdfcf5;
    --color: #1c1a10;
}

body {
    font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    background-color: var(--bg-color);
    color: var(--color);
}

/* 
    Utility classes 
*/
.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

/* 
    Main
*/
main {
    min-height: 100svh;
    text-align: center;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 800;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

div > span {
    margin-left: 10px;
}

input {
    margin: 0 5px 0 0;
    padding: 10px 20px;
    background-color: #efefef;
    border-radius: 5px;
    text-align: center;

    &[type=button] {
        background-color: #1eb923;
        color: #efefef;
    }
    &[type=button]:hover {
        background-color: #1eb923;
    }

    &[type=text] {
        width: 80px;
    }
}

.hidden {
    visibility: hidden;
}

::placeholder {
    color: #cfcfcf;
}